language: php
php:
  - '5.5'
  - '5.6'
  - '7.0'

before_install:
  - composer self-update

install:
  - composer install --prefer-source --no-interaction

script: vendor/bin/phpspec run -v --format progress
